* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 2px solid red; */
}
.container {
  width: 80%;
  height: 100vh;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}
h1 {
  text-align: center;
  margin-top: 2rem;
}
a {
  width: 50%;
  text-decoration: none;
}
input {
  gap: 20px;
  display: flex;
  border: none;
}
main {
  border: 1px solid;
  padding: 20px;
  margin: 1rem;
  gap: 1rem;
  border-radius: 10px;
}
label {
  display: flex;
  align-items: center;
}
#myText {
  padding: 10px;
}
.label-input {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}
.submit-save-btn {
  margin-left: 7.5rem;
}
h3 {
  margin-top: 10px;
}

#myText {
  padding: 8px 12px;
  border-radius: 5px;
}

#myButton {
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: lightblue;
}
#localStorage-Btn {
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: lightblue;
}

.greetingOutput {
  padding: 5px;
  margin-left: 3rem;
  display: block;
}

.weather-select,
#ternary,
#calender-section {
  margin: 0 2rem 0 2rem;
  border: 1px solid;
  padding: 20px;
  display: flex;
  border-radius: 10px;
}
.weather-label,
.ternary-label {
  padding: 6px 12px 6px 12px;
}
#weather-para {
  margin-left: 20px;
  align-self: center;
}

#weather-img {
  width: 50px;
  margin-left: 10px;
}

#ternary {
  margin-top: 1rem;
}

/* calender-css */
#calender-section {
  display: flex;
  flex-direction: column;
}
.label-option {
  display: flex;
}
#list {
  display: flex;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.li-element {
  list-style-type: none;
  display: flex;
  border: 1px solid;
  padding: 5px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
}
#month-name {
  margin: 10px 0;
}
#date-select {
  margin-left: 20px;
}
.calender-label {
  font-size: 1.5rem;
}
