* {
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}
.header {
  text-align: center;
}
.container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 10px;
}

.hero-card {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.hero-img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

button {
  border-radius: 5px;
  display: flex;
  flex: start;
}
